<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!-- session-factory name=""> -->
<session-factory>
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:devDB</property>
  
  <property name="hibernate.connection.username">system</property>
  <property name="hibernate.connection.password">admin123</property>
  
  <property name="hibernate.connection.pool_size">1</property>
  <property name="show_sql">true</property> 
  <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  
  <!-- property name="mappingDirectoryLocations">classpath:WEB-INF/classes/hibernate</property-->
  
   <!-- Mapping classes -->
   <mapping class="com.sanjiv.model.Users"/> 
   
</session-factory>
</hibernate-configuration>